
main {

  section:last-child {
    background: linear-gradient(110deg, #BBDEFB 60%, #42A5F5 60%);

    div {
      div {
        div {
          div {
            div {
              div{
                background-color: white;
                border-radius: 20px;
                padding: 5px;
                div {

                  div {

                    div {
                      form {
                        div {

                          input {
                            border-radius: 20px;
                          }
                        }

                        button{
                          border-radius: 20px;
                        }

                      }
                    }
                  }
                }
              }

            }
          }
        }
      }
    }
  }
}


main {
  section:last-child {
    div {
      div {
        div {
          div {
            div {
              div.login-wrap {
                -webkit-box-shadow: 5px 3px 15px -2px #000000;
                box-shadow: 5px 3px 15px -2px #000000;
                z-index: 5;
                border-radius: 20px;
              }
            }
          }
        }
      }
    }
  }
}
